
@{
    ViewData["Title"] = "ForgetPassword";
}

<div class="passwordBox animated fadeInDown">
    <div class="row no-gutter bg-image">
        <div class="sso-container top-purple-bar m-lg-5 mx-2">
            <div class="row justify-content-center" id="forgetPasswordContainer">
                <div class="col-12 py-4">
                    <div class="ibox-content">
                        <div class="col-md-12">
                            <h2 class="i18next font-bold" data-i18n="common.forgot-password">Forgot password</h2>
                            <p class="i18next" data-i18n="common.enter-email-sentence">
                                Enter your email address and we will email you the reset password link.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="m-t" role="form" action="index.html">
                                    <div class="form-group">
                                        <input type="email" class="i18next form-control" data-i18n="[placeholder]common.email-address" placeholder="Email address" required="" id="email" name="email" autocomplete="off">
                                    </div>
                                    <button type="button" class="i18next btn btn-primary block full-width m-b" data-i18n="common.send-reset-link" id="btnSendResetLink">Send reset link</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" id="forgetPasswordSuccessfulContainer" style="display: none;">
                <p class="my-4 px-4">
                    <span class="i18next" data-i18n="common.email-reset-message">A reset link have been sent to your email: </span>
                    <b id="resetLink"></b>
                </p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <script>

    $(function () {
      $("#btnSendResetLink").click(function (e) {
        toastr.clear();
        var email = $("#email").val();
        if (email != "") {
          $.ajax({
            global: true,
            type: 'POST',
            dataType: 'json',
            data: { email: email },
            url: "@Url.Action("SendResetLink")",
            success: function (response) {
              if (response.successful) {
                $("#forgetPasswordContainer").css("display", "none");
                $("#forgetPasswordSuccessfulContainer").css("display", "flex");
                $("#resetLink").html("<strong>" + email + "</strong>");
              }
              else {
                  console.log("HERE");
                  console.log(response.message);
                $("#loading").hide();
                toastr.clear();
                toastr.error(response.message);
              }
            },
            error: function (response) {
                //$("#loading").hide();
                toastr.error(response.responseText);
            }
          });
        }
        else {
          toastr.error("Email is required");
        }
      });

    });
    </script>
}
