@{
    ViewData["Title"] = "Home";
    ViewBag.Title = "Home";
    ViewBag.Description = "Helping businesses market their brand by gaining more exposure, sales and insights.";
    ViewBag.Keywords = "Home";
}

    <div class="category-page">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 header-title">
                <h4 class="wordCarousel">
                    HELPING BUSINESSES
                    <span>GAIN MORE </span>
                    <div>
                        <!--        Use classes 2,3, or 4 to match the number of words -->
                        <ul class="flip3">
                            <li>EXPOSURE</li>
                            <li>SALES</li>
                            <li>INSIGHTS</li>
                        </ul>
                    </div>
                </h4>
                <h2>
                    Discover how Vodus can help you grow your business for <i>free</i>
                </h2>
                <div class="title-cta">
                    <a class="btn btn-primary" href="/signup">
                        Get Started
                    </a>
                </div>
            </div>
            <div class="col col-sm col-md col-lg-6 col-xl-6 header-img">
                <div class="header-image">
                    <img class="lazyload" src="../Images/merchant-home-bg.webp" loading=lazy />
                </div>
            </div>
        </div>
        <div class="second-row">
            <div class="second-row-container row">
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <div class="image-header-text">
                        <h2 style="text-align:left;">
                            Expose your business to 17 million Malaysians
                            <span style="font-size: 18px;font-style: italic;margin-top: 20px;">
                                from across our Vodus Media Network that consists of online media platforms from Astro, Media Prima, The Star, Sin Chew and many more…
                            </span>
                        </h2>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 vmn-mobile-image">
                    <img src="../Images/vmn.webp" loading=lazy />
                </div>
            </div>
        </div>
        <div class="row third-row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="image-header-text">
                    <h2>
                        Our Unique Ecommerce Solution
                    </h2>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="content-container">
                    <div class="owl-number-nav">
                        <a class="active" href="#zero">
                            01
                        </a>
                        <a href="#one">
                            02
                        </a>
                        <a href="#two">
                            03
                        </a>
                        <a href="#three" style="margin-right:0;">
                            04
                        </a>
                        <hr />
                    </div>

                    <div class="owl-carousel owl-theme">
                        <div data-hash="zero">
                            <div class="owl-image">
                                <img src="~/Images/merchant-onboard-1.webp" loading=lazy/>
                            </div>
                            <div class="owl-description">
                                <h4>
                                    Vodus Media Network
                                </h4>
                                <p>
                                    Consumer visits our media partner’s website and responds to our survey to gain VPoints.
                                </p>
                            </div>
                        </div>
                        <div data-hash="one">
                            <div class="owl-image">
                                <img src="~/Images/merchant-onboard-2.webp" loading=lazy/>
                            </div>
                            <div class="owl-description">
                                <h4>
                                    Expose your product
                                </h4>
                                <p>
                                    We show your product as part of our VPoints redemption offering. Interested consumers can click through to view your listing on Vodus.
                                </p>
                            </div>
                        </div>
                        <div data-hash="two">
                            <div class="owl-image">
                                <img src="~/Images/merchant-onboard-3.webp" loading=lazy/>
                            </div>
                            <div class="owl-description">
                                <h4>
                                    Sales Conversion
                                </h4>
                                <p>
                                    Consumer may exchange VPoints to gain Vodus subsidized discounts.
                                </p>
                            </div>
                        </div>
                        <div data-hash="three">
                            <div class="owl-image">
                                <img src="~/Images/merchant-onboard-4.webp" loading=lazy />
                            </div>
                            <div class="owl-description">
                                <h4>
                                    Online payment
                                </h4>
                                <p>
                                    Consumer makes payment on Vodus to purchase your product.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="usp-container row">
            <div class="usp-item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="image-div">
                    <h2>
                        Zero Upfront Cost
                    </h2>
                    <div>
                        <img class="ad-image" src="/Images/risk-free.webp"  loading=lazy />
                    </div>
                </div>
                <p class="image-div-paragraph">
                    We provide end-to-end insights, marketing and ecommerce solutions at no cost.
                </p>
            </div>
            <div class="usp-item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                <div class="image-div">
                    <h2>
                        Subsidized Products
                    </h2>
                    <div>
                        <img class="ad-image" src="/Images/subsidized-discounts.webp" loading=lazy />
                    </div>
                </div>
                <p class="image-div-paragraph">
                    We even subsidize your product at our own expense to make your product more attractive to consumers!
                </p>
            </div>
        </div>
        <div class="usp-container row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="image-div insights-image-div">
                    <img src="~/Images/insights-merchant.webp" loading=lazy/>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 information-div">
                <h2>
                    Insights for Merchants
                </h2>
                <div class="row information-row">
                    <div class="information-icon-div">
                        <img src="~/Images/insights-icon-1.svg" class="information-icon" />
                    </div>
                    <div class="information-list">
                        <span>
                            Real-time online consumer purchase funnel using passive data
                        </span>
                        <ul>
                            <li>
                                Brand awareness – Ad impressions
                            </li>
                            <li>
                                Brand consideration – Ad clicks
                            </li>
                            <li>
                                Purchase – Purchase history
                            </li>
                            <li>
                                Advocate – Net Promoter Score
                            </li>
                        </ul>
                    </div>
                </div>
                <hr />
                <div class="row information-row">
                    <div class="information-icon-div">
                        <img src="~/Images/insights-icon-2.svg" class="information-icon" />
                    </div>
                    <div class="information-list">
                        <span>
                            Gain detailed profile of your consumers across their purchase funnel
                        </span>
                        <ul>
                            <li>
                                Demographic  info
                            </li>
                            <li>
                                Psychographic info
                            </li>
                        </ul>
                    </div>
                </div>
                <hr />
                <div class="row information-row">
                    <div class="information-icon-div">
                        <img src="~/Images/insights-icon-3.svg" class="information-icon" />
                    </div>
                    <div class="information-list">
                        <span>
                            Online dashboard to visualize your consumer insights
                        </span>
                        <ul>
                            <li>
                                Drag and Drop
                            </li>
                            <li>
                                Intuitive
                            </li>
                            <li>
                                Free
                            </li>
                        </ul>
                    </div>
                </div>
                <hr />
                <div class="row information-row">
                    <div class="information-icon-div">
                        <img src="~/Images/insights-icon-4.svg" class="information-icon" />
                    </div>
                    <div class="information-list">
                        <span>
                            Understand how your target consumers are using your product
                        </span>
                        <ul>
                            <li>
                                Consumer behaviour
                            </li>
                            <li>
                                Product usage frequency
                            </li>
                            <li>
                                Produce purchase influence
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="get-started">
                <span>Let’s grow your business together </span>
                <a class="btn btn-primary" href="/signup">
                    Get Started
                </a>
            </div>
        </div>

    </div>