@{
    ViewData["Title"] = "Terms & Conditions";
    ViewBag.Description = "Find Out More on the Terms & Conditions for Merchant Sellers on Vodus.";
}


<div class="merchant-terms">
    <h1><strong>VODUS MERCHANT CONTRACT GENERAL TERMS AND CONDITIONS</strong></h1>
    <p>By signing up, accessing or using Vodus, whether via the mobile and/or any other available electronic medium, you agree to be bound by these Terms & Conditions. If you choose NOT to accept these terms and conditions or any of its revisions, please do not proceed and immediately discontinue your access and/or use of Vodus. </p>
    <p>
        Vodus reserves the right to revise the Terms and Conditions at any time. Notification of the changes will be posted online and you are responsible to regularly review information posted in Vodus to obtain timely notice of such changes. Any usage of Vodus after the said updates or revisions, will be deemed that you have read and agreed to the updated Terms and Conditions.
    </p>

    <h2><strong>1. Definitions</strong></h2>
    <p>The following terms shall have the respective meanings, unless otherwise stated: </p>
    <p><strong>"Agreement"</strong> means this General Terms and Conditions, any other terms and conditions that may be included by the Parties from time to time, any documents referred to in the General Terms and Conditions, together with any schedule and/or appendice agreed by the Parties, whichever applicable.</p>
    <p><strong>"Customer"</strong> means user who registers with Vodus and makes a VodusPay transaction to Merchant for purchase of goods and/or services. </p>
    <p>
        <strong>"Vodus"</strong> means Vodus Research Sdn Bhd (Company No. 1134784-U), a company incorporated in Malaysia with registered office at Plot 96, IV, Solok Bayan Lepas, Bayan Lepas Industrial Park, 11900 Bayan Lepas, Penang, Malaysia.
    </p>
    <p><strong>"Vodus"</strong> refers to the Merchant online tool, which includes vodus.com, merchant.vodus.my and their mobile application and/or mobile web equivalents. </p>
    <p><strong>"VodusPay"</strong> refers to a platform or service that allows Customer to make cashless payments to Merchant via Vodus mobile application, by scanning the Merchant’s QR code or paying through Merchant’s listing on Vodus mobile application.</p>
    <p><strong>"Vodus Fee"</strong> means the fee charged by Vodus to Merchant on every transaction on Vodus. </p>
    <p><strong>"Merchant Offering"</strong> means goods and/or services, discount and/or rebates agreed to be given to Customer by Merchant. </p>
    <p><strong>"Vodus Discount"</strong> means discounts given by Vodus to Customers on every transaction on Vodus. </p>
    <p><strong>"Merchant’s Takeback"</strong> has the meaning as stipulated in Clause 5.1(b). </p>
    <p><strong>"Parties"</strong> means collectively, the Merchant and Vodus. </p>
    <p><strong>"QR Code"</strong> means Quick Response Code, a type of matrix barcode (or two-dimensional barcode) that is generated for Merchant to accept VodusPay transactions from Customer. </p>
    <p><strong>"Third Party IP"</strong> has the meaning as stipulated in Clause 10.1.</p>

    <h2><strong>2. Parties’ Obligations</strong></h2>
    <p>2.1 Vodus’ Obligations</p>
    <p>(a) Vodus shall, based on the business information provided by the Merchant, design and feature Merchant’s listing.</p>
    <p>(b) Vodus, in its sole discretion, shall decide when, where and to the Merchant’s listing is published. </p>
    <p>(c) Vodus, in its sole discretion, shall decide the Vodus Discount amount given to Merchant’s listing.</p>
    <p>(d) Vodus will provide a platform to allow Vodus Customer to discover Merchant’s places and pay the supply bill by using VodusPay. </p>
    <p>2.2 Merchant’s Obligations </p>
    <p>(a) The Merchant – not Vodus – is solely responsible for providing the Merchant Offering, including but not limited to, the supply or delivery of the goods and/or services, Customer service, after-sales-service and return management. The Merchant shall indemnify and holds Vodus free from any possible claims from third party or Customer regarding the Merchant Offering, including, but not limited to, claims of personal injury, death or property damage. Issues arising out of or related to the supply of the Merchant Offering by the Merchant to VodusPay’s Customer do not affect Vodus’s right to retain its Vodus Fee. </p>
    <p>(b) The Merchant shall use Vodus and VodusPay responsibly and not use it for any unlawful activities, including but not limited to sale of counterfeit items, fraudulent activity, illegal money lending or activity that is in any way related to gambling. Merchant must have title or ownership over the goods and/or services they offer to Customer. </p>
    <p>
        (c) The Merchant shall take all reasonable precautions and diligence to prevent any unauthorised use of Vodus, VodusPay and its QR code.
    </p>
    <h2><strong>3. Warranties and Representations</strong></h2>
    <p>3.1 Merchant’s Warranties and Representations</p>
    <p>The Merchant warrants, represents and undertakes that: </p>
    <p>
        (a) it is authorised to enter into this Agreement and that this Agreement has been accepted by an authorised representative of the Merchant;
    </p>
    <p>
        (b) it shall inform Vodus in writing immediately of any changes that could affect this Agreement;
    </p>
    <p>
        (c) all information provided by the Merchant in Vodus is accurate, complete and correct;
    </p>
    <p>
        (d) the bank account used for the receipt of Merchant’s Takeback as set out in Vodus belongs to the Merchant;
    </p>
    <p>
        (e) it has obtained (and shall obtain and maintain throughout the term of this Agreement) all necessary licenses, consents and permissions relevant to this Agreement and to the Merchant Offering;
    </p>
    <p>
        (f) all data and information provided by the Merchant to Vodus shall (and the Merchant’s behaviour shall at all times) be in compliance with all applicable laws and regulations and in accordance with any guidelines, standards and relevant codes of practice;
    </p>
    <p>
        (g) execution and performance of this Agreement shall not violate any provision of its (i) constitutional documents, (ii) any document binding upon it, (iii) any law, regulation or decree binding on it; and (iv) intellectual property rights of any third party; and
    </p>
    <p>
        (h) no litigation, arbitration or any dispute, current or pending or, to its knowledge, threatened, which is likely to have a material adverse effect upon its ability to perform its obligations hereunder.
    </p>
    <p>3.2 Vodus’ Warranties and Representations</p>
    <p>
        (a) Vodus warrants, represents and undertakes that it will execute its obligations arising under or in connection with this Agreement with reasonable care and skill.
    </p>
    <p>
        (b) Vodus does not warrant or guarantee that services offered on or through the Internet will be uninterrupted or error- free or that its services will result in any revenue or profit for the Merchant.
    </p>
    <h2><strong>4. Exclusion of Liability </strong></h2>
    <p>4.1 Vodus does not exclude or limit any liability that cannot be excluded or limited by applicable law. </p>
    <p>4.2 Subject to Clause 4.1, Vodus shall not be liable for any indirect loss. Further, Vodus shall not be liable, whether directly or indirectly, for (i) loss of actual or anticipated profits; (ii) loss of goodwill; or (iii) loss of data and/or the costs of restoration of data. </p>
    <p>4.3 Subject to Clauses 4.1 and 4.2, Vodus’ total liability under this Agreement, howsoever arising, shall in no circumstances exceed the greater of Ringgit Malaysia Two Thousand and Five Hundred (RM2,500.00) Only or the cumulative total amount of the Vodus Fee that Vodus has received under this Agreement, whichever lower. </p>
    <h2><strong>5. Payment and Payment Terms </strong></h2>
    <p>5.1 VodusPay Transaction Collection</p>
    <p>
        (a) Vodus shall collect from the payment of each transaction from Customer through VodusPay on behalf of Merchants.
    </p>
    <p>
        (b) Vodus shall deduct from the payment (i) its Vodus Fee, (ii) any legally applicable sales and services tax in respect of Clauses 5.1(a) and (b), and thereafter to remit the balance (<strong>“Merchant’s Takeback”</strong>) to the Merchant.
    </p>
    <p>5.2 Payment Term</p>
    <p>
        (a) Vodus shall remit the Merchant’s Takeback for transacted VodusPay to the Merchant within fourteen (14) working days after the transaction has been confirmed in VodusPay unless otherwise agreed upon. For the avoidance of doubt, Vodus’ Vodus Fee in respect of a transaction shall become due when the transaction is confirmed and Vodus is under no obligation to transfer any amounts (including, but not limited to, any Merchant’s Takeback) to the Merchant where a transaction is not made.
    </p>
    <p>(b) The parties agree that a VodusPay transaction is deemed confirmed when: </p>
    <p>
        &nbsp;&nbsp;&nbsp;(i) The Customer paid the supply bill through VodusPay;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;(ii) The Merchant has delivered the goods and/or services in full to the Customer;
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;(iii) The Merchant has provided to Vodus evidence of (a) and (b) including the receipt id and/or other evidence Vodus may reasonably request as proof of the provision of the goods and/or services, for example, but not limited to a delivery confirmation in case of delivery of physical goods.
    </p>
    <p>For the avoidance of doubt, if any of the above three described requirements are not met, a VodusPay transaction is not confirmed and Vodus is under no obligation to pay the Merchant any amount in respect of that transaction. </p>
    <p>(c) Any payment made by Vodus to the Merchant shall be without prejudice to any claims or rights which Vodus may have against the Merchant. </p>

    <h2><strong>6. SST and Invoices</strong></h2>
    <p>(a) Vodus shall account for the amount of SST for which it is liable, under the laws applicable to this Agreement. The Merchant shall account for the amount of SST for which it is liable, under the laws applicable to this Agreement. If applicable SST laws change such that Vodus becomes liable to account for SST which was previously liable to be accounted for (or was scheduled to be so liable to be accounted for by) to the Merchant, the Merchant agrees that Vodus may unilaterally vary the financial provisions of this Agreement to produce the result which would have been achieved had the change in SST laws not occurred. </p>
    <p>(b) Vodus shall send an invoice to the Merchant on its Vodus Fee in compliance with applicable law. </p>
    <p>(c) The Merchant shall provide Customer with an invoice in compliance with applicable law.</p>

    <h2><strong>7. Refund</strong></h2>
    <p>Vodus has the right to refund any Customer of VodusPay who, in Vodus’s reasonable opinion, has a valid complaint about the Merchant Offering, including, but not limited to, its supply or delivery. If Vodus has already paid the Merchant in respect of such refunded payment, Vodus may recover the refunded amount from the Merchant. </p>

    <p>7.1 Set-off</p>
    <p>Vodus may set off against any amounts payable to the Merchant any amount owed by the Merchant to Vodus (or to a third party, if such third party claims such amount from Vodus or, in Vodus’ reasonable opinion, will likely do so). The Merchant shall not have the right to set off any amounts owed by Vodus. </p>

    <h2><strong>8. Vodus</strong></h2>
    <p>
        The Vodus is an online tool whereby the Merchant may access information (e.g. analytics and statistics, payment data, Customer feedback) and submit data related to VodusPay. In order to use Vodus, the Merchant must register an account on Vodus and accept the Terms and Conditions. Vodus reserves the right to require the Merchant to use Merchant Tool and the Merchant agrees to do so upon Vodus’s request.
    </p>
    <h3><strong>9. License</strong></h3>
    <p>9.1 Vodus grants a non-exclusive license for the Merchant to use Vodus to track total users’ purchases, redemptions and mark attendance etc. </p>
    <h3><strong>10. Intellectual Property </strong></h3>
    <p>10.1 Licensing of IP by the Merchant </p>
    <p>For the term of this Agreement, the Merchant grants to Vodus a non-exclusive, worldwide, royalty free, paid-up, irrevocable, transferable and sub-licensable right to use the Merchant’s registered and un-registered intellectual property rights (<strong></strong>“Merchant IP”</strong>), and any third party’s intellectual property rights supplied by the Merchant to Vodus (<strong>“Third Party IP”</strong>), including, but not limited to, any editorial text or images. </p>
    <p>10.2 Merchant’s Warranties regarding Licensed IP </p>
    <p>The Merchant warrants that it owns all interest in and to the Merchant IP, has licensing rights (including the right to sublicense to Vodus) in the Third Party IP, and has the right to grant the license stated in this Agreement. </p>
    <p>10.3 Vodus’s IP </p>
    <p>The Merchant shall not use any of Vodus’s intellectual property rights or prepare any derivative work based thereon. </p>

    <h3><strong>11. Confidentiality and Privacy</strong></h3>
    <p>11.1 This Agreement </p>
    <p>The Merchant agrees to keep strictly confidential the terms of this Agreement, all of its contents and all information that it obtained about Vodus’s business, including, but not limited to, the finances, technology and affairs of Vodus. </p>
    <p>11.2 Customer Data </p>
    <p>Vodus or an affiliated entity owns all personal data about Customer. Where Vodus (or an affiliated entity or other third party) makes personal data about Customer available to the Merchant, the Merchant shall use the personal data of Customer only to fulfil its obligations in connection with the Merchant Offering, and for no other purpose. The Merchant shall ensure that at all times it implements and complies with reasonable security measures, including, but not limited to, such security measures as prescribed by applicable law, in the handling of any personal data of Customer. If the Merchant engages any third party to facilitate any of its obligations hereunder, the Merchant shall ensure that such third party complies in the same way with all of the Merchant's obligations under this Agreement. </p>
    <p>11.3 International Transfer of Data </p>
    <p>Vodus uses affiliated and unaffiliated service providers to process data received from the Merchant, including, without limitation, the ultimate Vodus parent company. Such service providers process personal data only on behalf of and subject to instructions from Vodus under data processing agreements that require adequate data protection measures. The Merchant hereby grants its consent to the transmission of its data to these service providers. </p>
    <p>11.4 Background Checks </p>
    <p>
        (a) Vodus reserves the right to make general and specific credit and financial checks and credit-related enquiries about the Merchant and certain individuals and/or legal entities working with and/or for the Merchant. The Merchant consents to these checks and agrees to co-operate with Vodus’ reasonable requests in respect of conducting these checks.
    </p>
    <p>
        (b) The Merchant acknowledges that Vodus may record phone calls with the Merchant for quality assurance and compliance purposes.
    </p>
    <h3><strong>12. Term and Termination </strong></h3>
    <p>12.1 This Agreement shall be valid and effective until this Agreement is terminated in accordance with the provisions of this Agreement. </p>
    <p>12.2 No fault termination: Notwithstanding Clause 12.1 above, either Party may, at any time, terminate this Agreement for whatsoever reason by giving fourteen (14) days’ written notice to the other Party. </p>
    <p>12.3 Termination due to breach: This Agreement may be terminated immediately on a written notice by one Party to the other where the other Party is in breach of any provision of this Agreement, where such breach is capable of remedy, and has failed to fix such breach within fourteen (14) days of written notice to do so by the non-defaulting party. Without prejudice to the foregoing, Vodus reserves the right to terminate this Agreement at any time immediately by providing a written notice to the Merchant if any of the Merchant's representations and warranties is found to be untrue, false or inaccurate, the Merchant becomes insolvent or compounds with or makes arrangement with its creditors, the Merchant have a winding up order (other than for the purpose of amalgamation or reconstruction) made against it, or the Merchant have a provisional liquidator, receiver or manager of its business or undertaking duly appointed. </p>
    <p>12.4 In the event of termination of this Agreement, Vodus shall be entitled to the Vodus Fee; and the Merchant shall be entitled to the net payment up to the date of termination of this Agreement. </p>
    <p>12.5 Termination of this Agreement shall in no circumstances affect: </p>
    <p>&nbsp;&nbsp;&nbsp;(i) the accrued rights or liabilities of the parties on the date of termination; and/or </p>
    <p>&nbsp;&nbsp;&nbsp;(ii) the validity of any agreement arrangement and/or transaction made between the Merchant and the Customer. </p>
    <p>
        12.6 Accrual of Rights and Obligations
    </p>
    <p>Termination of this Agreement in accordance with its terms shall not affect the accrued rights or liabilities of the parties at the date of termination and shall have no effect on: </p>
    <p>&nbsp;&nbsp;&nbsp;(i) the transactions already transacted prior to termination; or </p>
    <p>&nbsp;&nbsp;&nbsp;(ii) the Merchant’s obligations to provide the Merchant Offering in respect of such transaction. </p>
    <p>12.7 Survival</p>
    <p>Any provision of this Agreement which expressly or by implication is intended to come into or continue in force on or after termination of this Agreement, including, but not limited to, Clauses 2.2, 3, 4, 5, 9, 11.1, 11.2, 12.6, 12.7, 13 and 14 shall remain in full force and effect indefinitely</p>
    <h3><strong>13. Indemnification </strong></h3>
    <p>13.1 The Merchant agrees to defend, indemnify and hold Vodus, its affiliated and related entities, and any of its respective officers, directors, agents and employees, harmless from and against any claims, lawsuits, investigations, penalties, damages, losses or expenses (including, but not limited to, reasonable attorneys’ fees and costs) arising out of or relating to any of the following: </p>
    <p>(a) any claim by the relevant tax authorities for the tax obligations of the Merchant arising from the issuance, sale or transaction of VodusPay; </p>
    <p>(b) any claim by a VodusPay user or anyone else arising out of or in connection with the Merchant Offering (or any goods and/or services actually or purportedly offered in respect of or in connection to VodusPay) or any other goods and/or services offered by the Merchant, including, but not limited to, claims for personal injury, death, or property damages; and </p>
    <p>(c) any breach (or alleged breach) of Clauses 10, 11.1 and 11.2. </p>

    <h3><strong>14. Miscellaneous </strong></h3>
    <p>14.1 This Agreement contains all the terms agreed between the parties regarding its subject matter and supersedes and excludes any prior agreement, understanding or arrangement between the parties, whether oral or in writing.</p>
    <p>14.2 No terms and conditions or other document submitted, proposed or stipulated by the Merchant shall be binding between the parties in respect of the transaction set out in this Agreement, unless expressly agreed to in writing by Vodus. </p>
    <p>14.3 This Agreement may be amended or modified only by mutual written agreement of authorised representatives of the Parties. </p>
    <p>14.4 No waiver by Vodus of any violation or default in performance of the provisions of this Agreement shall be deemed a waiver of such provisions or the right of Vodus to thereafter enforce such provisions, or any other provisions, of this Agreement. </p>
    <p>14.5 Nothing in this Agreement shall be construed to create a joint venture, agency, partnership, or franchise between the parties. Neither Party has the authority, without the other Party’s prior written approval, to bind or commit the other Party in any way. The Merchant understands and acknowledges that Vodus does work regularly with other merchants who may be direct or indirect competitors with the Merchant. By entering into this Agreement, the Merchant agrees that Vodus is not precluded from entering into similar agreements with other merchants, regardless of whether they are direct or indirect competitors with the Merchant. </p>
    <p>14.6 The Merchant is not authorised to transfer or assign its rights or obligations under this Agreement, whether by operation of law or otherwise, without Vodus’ prior written consent. Vodus is authorised to transfer or assign this Agreement or any of its rights thereunder to a present or future affiliate or pursuant to a merger, consolidation, reorganization or sale of all or substantially all of the assets or business, or by operation of law, without notice to the Merchant. </p>
    <p>14.7 The Parties agree to use digital signup in Vodus for the purpose of signing this Agreement; the Parties further agree that using the digital signup shall be treated with the same legal force and effect as a signature written by hand, and will not be denied legal validity solely due to the fact that the signature is in electronic form. </p>
    <p>14.8 If any provision of this Agreement should be held to be invalid or unenforceable, the validity and enforceability of the remaining provisions of this Agreement are not affected. Such invalid or unenforceable provision shall be replaced by a valid and enforceable provision which most closely achieves the economic effect contemplated by the invalid or unenforceable provision. </p>
    <p>14.9 This Agreement shall be governed and interpreted by the laws of Malaysia, without regard to its conflict or choice of law principles. Exclusive venue for any disputes shall be the courts of Malaysia. </p>
    <p>14.10 The Effective Date of this Agreement shall be the date that the last of Vodus or the Merchant agrees to this Agreement or otherwise indicates its assent in writing. </p>

    <h3><strong>15. General  </strong></h3>
    <p>15.1 Vodus is currently operating VodusPay under this Agreement and may transfer or enhance its operating platform to another platform at any time for any reason without notice to Merchant. </p>
</div>
