@using System.Configuration
@{
    ViewData["Title"] = "About Us";
    ViewBag.Title = "About Us";
    ViewBag.Description = "We are a survey rewards platform that sells deals and products from a wide variety of merchants. To sweeten the deal for you, we subsidize our merchant's deals and products through our survey rewards system to make it even cheaper!";
    ViewBag.Keywords = "About Us";
}
<style>
    .rewards-body > div {
        max-width: unset;
    }
</style>
<div class="about">
    <section id="our-company">
        <div class="row main-container main-container-first wide-image-right">
            <div class="col-lg-5 col-md-6 header-img-container">
                <img class="lazyloaded" src="~/images/Our Company.webp" />
            </div>
            <div class="col-lg-7 col-md-6 header-text-container">
                <div class="content-container justify-content-start">
                    <h2 class="white">HI WE'RE VODUS</h2>
                    <p class="main-paragraph white">
                        We are all about subsidizing your lifestyle, leisure and shopping so you can enjoy bigger savings for the things that matter.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="what-we-do">
        <div class="row main-container main-container-first">
            <div class="col-12">
                <div class="content-container">
                    <div class="row col-12 align-center mt-4">
                        <div class="what-we-do-icon" style="background-color: #2C029E">
                            <i class="fa-light fa-shop"></i>
                        </div>
                        <div class="what-we-do-icon" style="background-color: #07B6C7">
                            <i class="fa-light fa-tags"></i>
                        </div>
                        <div class="what-we-do-icon" style="background-color:#8C37F6">
                            <i class="fa-light fa-square-list"></i>
                        </div>
                    </div>
                    <h2 class="row col-12 align-center mt-3">WHAT WE DO</h2>
                    <p class="main-paragraph">
                        Vodus e-commerce is the first online shopping platform in Malaysia that allows shoppers the opportunity to earn reward points by answering simple survey questions These points can then be converted directly into discounts anytime and redeemed against a wide variety of in-store products and vouchers.
                        <br /><br />
                        We partner with merchants of all sizes, from well-known brands to value-for-money local products, to help you compare and find the most suitable products at the best price.
                        <br /><br />
                        So what makes Vodus different to other shopping platforms?
                        <br /><br />
                        Unlike other shopping platforms which require shoppers to spend in order to earn, Vodus rewards you with points for free in exchange for answering simple survey questions.
                        This means - Answer 10 Survey Questions & Receive 10 VPoints which can then be used in-store to get up to 10% discount off a wide range of products.

                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="homepage-guide">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-md-6 guide-title">
                <h2>STEP BY STEP GUIDE</h2>
            </div>
        </div>
        <div class="row guide-content">
            <div class="col-lg-6 margin-auto intro-video align-center">
                <iframe src="https://www.youtube.com/embed/63gpHDWYf-Y?rel=0&amp;modestbranding=1&amp;showinfo=0;" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media;picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="rohttps://localhost:44301/images/Our%20Company.webpw col-lg-6 margin-auto guide-steps">
                <div class="row guide-step-row">
                    <div class="icon">
                        <img src="~/images/webapp_home_stepbystep_signup.svg" />
                    </div>
                    <div class="guide-step-text">
                        <h4>
                            Step 1 :
                        </h4>
                        <p>
                            Sign up for a Vodus account
                        </p>
                    </div>
                </div>
                <div class="row guide-step-row">
                    <div class="icon">
                        <img src="~/images/webapp_home_stepbystep_survey.svg" />
                    </div>
                    <div class="guide-step-text light-purple-bg">
                        <h4>
                            Step 2 :
                        </h4>
                        <p>
                            Click "Gain VPoints" to participate in surveys
                        </p>
                    </div>
                </div>
                <div class="row guide-step-row">
                    <div class="icon">
                        <img src="~/images/webapp_home_stepbystep_vpoint.svg" />
                    </div>
                    <div class="guide-step-text">
                        <h4>
                            Step 3 :
                        </h4>
                        <p>
                            Earn VPoints for every survey question answered
                        </p>
                    </div>
                </div>
                <div class="row guide-step-row">
                    <div class="icon">
                        <img src="~/images/webapp_home_stepbystep_discount.svg" />
                    </div>
                    <div class="guide-step-text light-purple-bg">
                        <h4>
                            Step 4 :
                        </h4>
                        <p>
                            Use your VPoints to gain discounts on popular brands
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="our-story">
        <div class="col-12">
            <h2 class="main-title text-center m-0">
                OUR STORY
            </h2>
        </div>

        <div class="row main-container">
            <div class="col-12 col-lg-6 header-img-container my-md-3 mt-3">
                <img class="lazyloaded" src="~/images/Our Story.webp" />
            </div>
            <div class="col-12 col-lg-6 header-text-container">
                <div class="content-container">
                    <p class="main-paragraph">
                        To help consumers ease their financial burden during the pandemic in 2020, Vodus created a survey rewards platform that features an array of
                        merchants and products that helps consumers find the best quality products at the lowest price.
                        <br /><br />
                        Since then, we have placed a strong emphasis on our VPoints Rewards system where shoppers simply need to answer a few simple survey questions in exchange
                        for unbelievable discounts on a huge variety of products. You will automatically recive VPoints for each response
                        - the more you answer, the more points you gain - which can be used to exchange for discounts during checkout.
                        <br /><br />
                        At Vodus Rewards, we are all about subsidizing your lifestyle, leisure and shopping so you can enjoy bigger savings for things that matter.
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>