
@{
    ViewBag.Title = "Forgot Password";
}
<div class="passwordBox animated fadeInDown" style="padding:32px 20px 72px;">
    <div class="row" id="forgetPasswordContainer">

        <div class="col-md-12">
            <div class="ibox-content">
                <h2 class="i18next font-bold" data-i18n="common.forgot-password">Forgot password</h2>
                <h6 class="i18next" data-i18n="common.enter-email-sentence">
                    Enter your email address and we will email you the reset password link.
                </h6>
                <div class="row">
                    <div class="col-12 padding-none">
                        <form class="m-t" role="form" action="index.html">
                            <div class="form-group">
                                <input type="email" class="i18next form-control" data-i18n="[placeholder]common.email-address" placeholder="Email address" required="" id="email" name="email" autocomplete="off">
                            </div>
                            <button type="button" class="i18next btn btn-primary block full-width m-b" data-i18n="common.send-reset-link" id="btnSendResetLink">Send reset link</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="forgetPasswordSuccessfulContainer" style="display:none;">
        <div class="align-center" style="margin-top:20px;">
            <p class="alert alert-success">
                <span class="i18next" data-i18n="common.email-reset-message">A reset link have been sent to your email: </span>
                <b id="resetLink"></b>
            </p>
        </div>    
    </div>
</div>

@section scripts
{

    <script>

    $(function () {
      $("#btnSendResetLink").click(function (e) {
        toastr.clear();
        var email = $("#email").val();
        if (email != "") {
          $.ajax({
            global: true,
            type: 'POST',
            dataType: 'json',
            data: { email: email },
            url: "/identity/sendresetlink",
            success: function (response) {
              if (response.successful) {
                $("#forgetPasswordContainer").css("display", "none");
                $("#forgetPasswordSuccessfulContainer").css("display", "block");
                $("#resetLink").html("<strong>" + email + "</strong>");
              }
              else {
                $(".toast-warning").remove();
                toastr.clear();
                toastr.error(response.message);
              }
            },
            error: function () {
                $(".toast-warning").remove();
            }
          });
        }
        else {
          toastr.error("Email is required");
        }
      });

    });
    </script>
}
