
@{
    ViewData["Title"] = "Return Policy";
    ViewBag.Description = "Vodus Shoppers are Eligible for Returns and Refunds Provided they Meet the Criteria Within the Returns Policy. ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left:15px;margin-top:50px;margin-right:15px;max-width:900px;">
    <h1>
        <strong><span data-contrast="auto"><span data-ccp-charstyle="Strong">Return Policy</span></span></strong>
        <span data-ccp-props="{&quot;134233117&quot;:true,&quot;134233118&quot;:true,&quot;201341983&quot;:2,&quot;335559739&quot;:240,&quot;335559740&quot;:439}">&nbsp;</span>
    </h1>
    <br />

    <h2>
        <strong><span data-contrast="auto"><span data-ccp-charstyle="Strong">1. Application for Returns/Refunds</span></span></strong>
    </h2>
    <p>
        <span data-contrast="auto">
            <span data-ccp-parastyle="Normal (Web)">
                Subject to the terms and conditions in this Refunds and Return Policy and the Terms of Service, Buyer may apply for return of the purchased items (“Item”) and/or refund prior to the expiry of the respective category stated below.
                Vodus Guarantee is a service provided by Vodus, on Buyer’s request, to assist Buyers in dealing with certain conflicts which may arise during the course of a transaction. Buyers may communicate with each other privately to resolve their differences or approach their relevant local authorities to assist them in overcoming any dispute prior, during or after using Vodus Guarantee.
                Details of the return/refund policies are dependent on the type of product sold on Vodus. The types of product sold on Vodus are:
            </span>
        </span>
    </p>
    <ol type="a">
        <li>
            In-Store Voucher: Vouchers that are redeemable in physical stores of the merchant by scanning of the QR code.
        </li>
        <li>
            Delivery Items: Items that are purchased on Vodus and delivered to the buyer’s delivery address by the Merchant
        </li>
        <li>
            E-Vouchers: Vouchers that are redeemable on the merchant’s website by entering the voucher code.
        </li>
    </ol>

    <h2>
        <strong>
            <span data-contrast="auto"><span data-ccp-charstyle="Strong">2.	Return/Refunds for In-Store Redemption</span></span>
        </strong>
    </h2>
    <p>
        <span data-contrast="auto">
            <span data-ccp-parastyle="Normal (Web)">
                For In-Store Vouchers purchased on Vodus, the following return/refund policies applies:
            </span>
        </span>
    </p>
    <ol type="a">
        <li>
            Buyer has 7 days from the day of purchase to initiate refund and/or return.
        </li>
        <li>
            Buyer’s refund and/or return application must be submitted via the Vodus portal.
        </li>
        <li>
            Buyer may only apply for the refund and/or return of the Item in the following circumstances:
            <ul>
                <li>
                    In-Store Voucher is not yet redeemed
                </li>
                <li>
                    Merchant does provide the product/services as state in the In-Store Voucher’s description on Vodus portal.
                </li>
            </ul>
        </li>
        <li>
            Vodus will review each Buyer’s application on a case-by-case basis and, in its sole discretion, determine whether Buyer’s application is successful.
        </li>
    </ol>

    <h2>
        <strong>
            <span data-contrast="auto">
                <span data-ccp-charstyle="Strong">
                    3.	Return/Refunds for the Delivery Item
                </span>
            </span>
        </strong>
    </h2>
    <p>
        <span data-contrast="auto">
            <span data-ccp-parastyle="Normal (Web)">
                For Delivery Items purchased on Vodus, the following return/refund policies applies:
            </span>
        </span>
    </p>
    <ol type="a">
        <li>
            Buyer has 14 days from the day of purchase to initiate refund and/or return.
        </li>
        <li>
            Buyer’s refund and/or return application must be submitted via the Vodus portal.
        </li>
        <li>
            Buyer may only apply for the refund and/or return of the Item in the following circumstances:
            <ul>
                <li>
                    The Item has not been received by Buyer;
                </li>
                <li>
                    The Item received is incomplete (missing quantity or accessories);
                </li>
                <li>
                    Seller has delivered an Item that does not match the agreed specification (e.g. wrong size, colour, etc.) to Buyer;
                </li>
                <li>
                    The Item delivered to Buyer is materially different from the description provided by Seller in the listing of the Item;
                </li>
                <li>
                    The Item received has physical damage (e.g. dented, scratched, shattered);
                </li>
                <li>
                    The Item received is faulty (e.g. malfunction, does not work as intended);
                </li>
                <li>
                    By way of private agreement with Seller and Seller must send his/her confirmation to Vodus confirming such agreement;
                </li>
            </ul>
        </li>
        <li>
            Vodus will review each Buyer’s application on a case-by-case basis and, in its sole discretion, determine whether Buyer’s application is successful.
        </li>
        <li>
            To enjoy a hassle-free experience when returning the Item, Buyer should ensure that the Item, including any complimentary items such as accessories that come with the Item, must be returned to Seller in the condition received by Buyer on delivery. We will recommend Buyer to take a photo of the Item upon receipt.
        </li>
        <li>
            Liability of Shopping Fees:
            <ul>
                <li>
                    In the scenario of an unforeseen error from the seller's end (i.e - damaged, faulty or wrong Item delivered to the buyer), the seller will bear buyer's return shipping fee.
                </li>
                <li>
                    In the scenario of the buyer's change of mind, buyer shall get seller's consent prior to the return request and buyer will bear the return shipping fee.
                </li>
                <li>
                    In the scenario where both seller-buyer disputing the party liable for the return shipping fee, Vodus at its sole discretion will determine the party liable for the return shipping fee.
                </li>
            </ul>
        </li>
    </ol>

    <h2>
        <strong>
            <span data-contrast="auto">
                <span data-ccp-charstyle="Strong">
                    4.	Return/Refunds for the Return of E-Voucher
                </span>
            </span>
        </strong>
    </h2>
    <p>
        <span data-contrast="auto">
            <span data-ccp-parastyle="Normal (Web)">
                For E-Voucher Items purchased on Vodus, the following return/refund policies applies:
            </span>
        </span>
    </p>
    <ol type="a">
        <li>
            Buyer has 7 days from day of purchase to initiate refund and/or return.
        </li>
        <li>
            Buyer’s refund and/or return application must be submitted via the Vodus portal.
        </li>
        <li>
            Buyer may only apply for the refund and/or return of the Item in the following circumstances:
            <ul>
                <li>
                    a.	E-Voucher is not yet redeemed
                </li>
                <li>
                    Merchant does provide the product/services as state in the E-Voucher’s description on Vodus portal.
                </li>
            </ul>
        </li>
        <li>
            Vodus will review each Buyer’s application on a case-by-case basis and, in its sole discretion, determine whether Buyer’s application is successful.
        </li>
    </ol>

    <h2>
        <strong>
            <span data-contrast="auto">
                <span data-ccp-charstyle="Strong">
                    5.	Rights of Seller
                </span>
            </span>
        </strong>
    </h2>
    <p>
        <span data-contrast="auto">
            <span data-ccp-parastyle="Normal (Web)">
                When Vodus receives a refund and/or return application from Buyer for products sold on Vodus, Vodus will notify Seller in writing. Seller may respond to Buyer’s application according to the steps provided by Vodus in the written notification. Seller must respond within the time-frame stipulated in the written notification (the “Stipulated Period”). Should Vodus not hear from Seller within the Stipulated Period, Vodus will assume that Seller has no response to Buyer’s application and will proceed to assess Buyer’s application without further notice to Seller.
                Vodus will review each Seller’s response on a case-by-case basis and, in its sole discretion, determine whether Buyer’s application may be successful against the circumstances stated by Seller.
            </span>
        </span>
    </p>

    <h2>
        <strong>
            <span data-contrast="auto">
                <span data-ccp-charstyle="Strong">
                    6.	 Refunds
                </span>
            </span>
        </strong>
    </h2>
    <p>
        <span data-contrast="auto">
            <span data-ccp-parastyle="Normal (Web)">
                Buyer will only be refunded after Vodus has received the confirmation from Seller that Seller has
                received the returned Item. In the event where Vodus does not hear from Seller within a specified time,
                Vodus will be at liberty to refund the applicable sum to Buyer without further notice to Seller.
                The refund will be made to Buyer’s credit/debit card or designated bank account, whichever is applicable.
            </span>
        </span>
    </p>

    <h2>
        <strong>
            <span data-contrast="auto">
                <span data-ccp-charstyle="Strong">
                    7.	Communication Between Buyer and Seller
                </span>
            </span>
        </strong>
    </h2>
    <p>
        <span data-contrast="auto">
            <span data-ccp-parastyle="Normal (Web)">
                Vodus encourages Buyers to communicate with each other in the event where problem arises in a transaction.
                As Vodus is a platform for Buyers to conduct trading,
                Buyer should contact Seller directly for any issue relating to the Item purchased.
            </span>
        </span>
    </p>

</div>