
@{
    ViewData["Title"] = "TNC - First time user RM20 Off";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin:50px 15px 30px; max-width:1200px;">
    <img src="/images/banners/vodus-promo-banner-1.webp" />
    <h1 class="col-12" style="margin-top:50px;">
        <strong>
            <span data-contrast="auto">
                <span data-ccp-charstyle="Strong">
                    RM20 discount (first time users promo)
                    T&C:
                </span>
            </span>
        </strong>
    </h1>
    <ul>
        <li>For first-time users only</li>
        <li>To be used within 2 weeks</li>
        <li>Min spend of RM50</li>
        <li>Max discount of RM20 per transaction</li>
        <li>Can be used in conjunction with VPoints discount</li>
        <li> Can't be used in conjunction with other vouchers/ discount codes</li>
        <li>Can't be used to buy TNG vouchers or Cash vouchers</li>
    </ul>

</div>
