@model Voupon.Rewards.WebApp.Services.Profile.Page.EditPageViewModel

@{
    ViewData["Title"] = "VerifyEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="passwordBox animated fadeInDown">
    <div class="row" id="verifyEmailContainer">

        <div class="col-md-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 style="font-size: 20px;" class="font-bold">Please verify your email</h2>
                        <form class="m-t" role="form" action="index.html">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email address" required="" id="email" name="email" value=@Model.Email autocomplete="off" disabled>
                            </div>
                            <button type="button" class="btn btn-primary block full-width m-b" id="btnSendVerificationLink">Send verification link</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="verifyEmailSuccessfulContainer" style="display:none;">
        <p class="alert alert-success" id="successMessage"></p>
    </div>
</div>


@section scripts
{

    <script>

        $(function () {
      $("#btnSendVerificationLink").click(function (e) {
          toastr.clear();
          var from = getParameterByName("from");

          if (from == "producttestregister") {
              var productId = getParameterByName("productid");
              var email = getParameterByName("email");

              from = from + "&productid=" + productId + "&email=" + email;
          }

        var email = $("#email").val();
        if (email != "") {
          $.ajax({
            global: true,
            type: 'POST',
            dataType: 'json',
            data: { email: email, from: from },
            url: "@Url.Action("SendVerificationEmail", "Home")",
            success: function (response) {
              if (response.successful) {
                $("#verifyEmailContainer").css("display", "none");
                $("#verifyEmailSuccessfulContainer").css("display", "block");
                  $("#successMessage").html("A verification link have been sent to your email: <strong>" + email + "</strong> <br/><br/> If you have not received the email after 1 minute, please check your junk mail. Otherwise, refresh this page and re-send the verification link to your email.");
              }
              else {
                $(".toast-warning").remove();
                toastr.clear();
                toastr.error(response.message);
              }
            },
            error: function () {
              $(".toast-warning").remove();
            }
          });
        }
        else {
          toastr.error("Email is required");
        }
      });

    });

        function getParameterByName(name, url) {
            if (!url) url = window.location.href.toLowerCase();
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
          results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    </script>
}
