
@{
    ViewData["Title"] = "RM88 CNY promo - discount code to be used for next purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin:50px 15px 30px; max-width:1200px;">
    <img src="/images/banners/vodus-promo-banner-2.webp" />
    <h1 class="col-12" style="margin-top:50px;">
        <strong>
            <span data-contrast="auto">
                <span data-ccp-charstyle="Strong">
                    RM88 CNY promo - discount code to be used for next purchase
                    T&C:
                </span>
            </span>
        </strong>
    </h1>
    <ul>
        <li>5 winners will be chosen from the spending customers between 11 Jan till 14 Feb</li>
        <li>To be used within 2 weeks from the voucher date</li>
        <li>Can't be used in conjunction with other vouchers/ discount codes</li>
        <li>Can be used in conjunction with VPoints discount</li>
    </ul>

</div>
