
@{
    ViewData["Title"] = "Win a RM150 gift for your dad this father's day";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin:50px 15px 30px; max-width:1200px;">
    <img src="/images/banners/vodus-fathers-day-2022.webp" />
    <h1 class="col-12" style="margin-top:50px;margin-bottom:20px;">
        <strong>
            <span data-contrast="auto">
                <span data-ccp-charstyle="Strong">
                    Win a RM150 gift for your dad this father's day.
                </span>
            </span>
        </strong>
    </h1>

    <p class="col-12" style="display:block;"><strong>T&C:</strong></p>

    <ul style="display:block;">
        <li>To enter the giveaway, please follow the instructions stated on the Instagram post</li>
        <li>1 winner will be chosen at random and contacted via IG DM within 7 days of the giveaway end date.</li>
        <li>Giveaway ends on 15th Jun 2022</li>
        <li>Vodus Sdn.Bhd reserves the right to vary the Terms & Conditions without prior notice at its own discretion.</li>
    </ul>

</div>
