
@{
    ViewData["Title"] = "MAR PROMO Win RM50 voucher when you purchase on www.vodus.my from 12 Mar till 14 Apr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin:50px 15px 30px; max-width:1200px;">
    <img src="/images/banners/march-50-off-promo.webp" />
    <h1 class="col-12" style="margin-top:50px;">
        <strong>
            <span data-contrast="auto">
                <span data-ccp-charstyle="Strong">
                    MAR PROMO Win RM50 voucher when you purchase on www.vodus.my from 12 Mar till 14 Apr
                    discount code to be used for next purchase

                </span>
            </span>
        </strong>
    </h1>
    <h2 class="col-12" style="margin-top:50px;">
        T&C:
    </h2>
    <ul>
        <li>5 winners will be chosen from the spending customers between 12 Mar till 12 April</li>
        <li>To be used within 2 weeks from the voucher date</li>
        <li>Can't be used in conjunction with other vouchers/ discount codes</li>
        <li>Can be used in conjunction with VPoints discount</li>
    </ul>

</div>
