
@{
    ViewData["Title"] = "Win RM50 voucher when you purchase between 1st May - 20th May 2022  - Discount code to be used for next purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin:50px 15px 30px; max-width:1200px;">
    <img src="/images/banners/mothers-day-2022.webp" />
    <h1 class="col-12" style="margin-top:50px;margin-bottom:20px;">
        <strong>
            <span data-contrast="auto">
                <span data-ccp-charstyle="Strong">
                    Win RM50 voucher when you purchase between 1st May - 20th May 2022 <br/>Discount code to be used for next purchase T&C:
                </span>
            </span>
        </strong>
    </h1>
    <ul>
        <li>Valid for transactions on <a href="https://vodus.my" style="color:#0094ff">www.vodus.my</a> between 1st May - 20th May 2022</li>
        <li>6 winners will be chosen at random and contacted via email within 7 days of the promotion end date.</li>
        <li>To participate in this promotion participants must have a registered account with <a href="https://vodus.my" style="color:#0094ff">www.vodus.my</a> and have a spend of at least one transaction during the promotion period.</li>
        <li>The winner’s discount code is valid for 2 weeks from the voucher date.</li>
        <li>Discount code cannot be used in conjunction with any other vouchers/discount codes</li>
        <li>Discount code can be used in conjunction with VPoints discount</li>
        <li>Vodus Sdn.Bhd reserves the right to vary the Terms & Conditions without prior notice at its own discretion.</li>
    </ul>

</div>
