.product-img-preview {
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
    height: 150px;
}

.remove-img {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
}
.remove-img:hover {
        background: white;
        color: black;
    }

.remove-img-url {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
}

    .remove-img-url:hover {
        background: white;
        color: black;
    }

.product-img-preview-container {
    display: inline-block;
    margin: 10px 10px 0 0;
}

.btn-file {
    cursor: pointer;
}

#EditImage {
    display: none;
}

.btn_apply_all {
    font-size: smaller;
    padding: 6px 6px;
    height: fit-content;
}

.add-working-day, .remove-working-day {
    font-size: 25px;
    cursor: pointer
}

input:focus,
select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #00C853;
    outline-width: 0
}

select option:focus {
    background-color: #00C853 !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.exit {
    border: 1px solid #9E9E9E;
    color: #9E9E9E;
    background-color: transparent
}

    .exit:hover {
        border: 1px solid #9E9E9E;
        color: #000 !important;
        background-color: #9E9E9E
    }

.open-day {
    font-size: 14px;
    letter-spacing: 1px;
    min-width: 33px;
}

.from-date {
    margin-right: 30px;
}

.disabled-day {
    color: #cdcdd6;
}

.ui-timepicker-container {
    z-index: 1151 !important;
}