@{
    ViewData["Title"] = "Access Denied";
}

@*<div class="text-center">
        <h1 class="display-4">404</h1>
    </div>*@

<style>
    .btn-secondary {
        color: #fff;
        background-color: #ff407b;
        border-color: #ff407b;
    }

    .img-fluid {
        max-width: 350px;
        height: auto;
    }

    .btn-lg {
        margin: 20px 0 30px;
    }
</style>
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="error-section">
                    <img src="~/images/page404.png" alt="" class="img-fluid">
                    <div class="error-section-content">
                        <h1 class="display-4">Access Denied</h1>
                        <h2>You does not have access rights to the content.<br /> Go back and choose a new direction.</h2>
                        <a href="~/" class="btn btn-secondary btn-lg">Back to homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a hidden href="https://pngtree.com/so/cry?sce=attr">cry png from pngtree.com</a>

